<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Booking Details</title>
    <!-- Agregar enlace a Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      body {
        font-family: Arial, sans-serif;
      }
      .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
      }
      h1 {
        margin-bottom: 20px;
        color:white;
      }
      form {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 5px;
      }

      .form-group {
        margin-bottom: 20px; /* Add margin between form groups */
      }

      label {
        font-weight: bold;
      }
      input[type="checkbox"] {
        margin-right: 10px;
      }
      input[type="text"],
      textarea {
        width: 100%;
        padding: 5px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      button[type="submit"] {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
      }

      
      
    </style>
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <section class="vh-200" style="background-color: #508bfc;">
    <div class="container">
      <h1 class="mt-4">Detalles de reserva</h1>
      <form method="POST" action="https://b044-206-204-150-110.ngrok-free.app/updateBooking">
        <div class="form-group">
          <label for="accessories">Accessorios:</label>
          <div class="input-field">
            <input type="checkbox" name="accessories" value="1" /> Silla bebe x
            1 <input type="checkbox" name="accessories" value="2" /> Silla bebe
            x 2 
            <!-- Add more options as needed -->
          </div>
        </div>

        <div class="form-group">
          <label for="carImages">Imágenes del coche:</label>
          <div class="input-field">
            <input type="file" name="carImages" accept="image/*" multiple />
          </div>
        </div>

        <div class="form-group">
          <label for="parking">Plaza de parking:</label>
          <div class="input-field">
            <input type="text" name="parking" />
          </div>
        </div>
        
        <div class="input-container">
          <div class="form-group">
            <label for="location"
              >Selecciona la localización o utiliza el mapa moviendo el cursor:</label
            > 
            <div class="input-field">
              <input
                type="radio"
                name="locationName"
                value="Hotel"
                onchange="changeMapLocation(this)"
              />
              Aeropuerto Norte
              <input
                type="radio"
                name="locationName"
                value="Aeropuerto Norte"
                onchange="changeMapLocation(this)"
              />
              Aeropuerto Sur
              <input
                type="radio"
                name="locationName"
                value="Aeropuerto Sur"
                onchange="changeMapLocation(this)"
              />
              Hotel
              <input
                type="radio"
                name="locationName"
                value="Garaje"
                onchange="changeMapLocation(this)"
              />
              Garaje
            </div>
            
          </div>
          <input
            type="text"
            name="txtDireccion"
            id="txtDireccion"
            class="input"
            placeholder="Dirección"
          />
          <br>
          <button type="button" class="btn btn-primary mt-3" onclick="getUserLocation()">Usar mi ubicación actual</button>
          <br>
          <div id="map_canvas" style="height: 35vh; width:100%; margin-top: 1%"></div>
          <input type="hidden" name="latitude" id="latitude" class="input" />
          <input type="hidden" name="longitude" id="longitude" class="input" />
        </div>
        <br />

        <div class="form-group">
          <label for="notes">Añade notas para el cliente:</label>
          <div class="input-field">
            <textarea name="notes" rows="4"></textarea>
          </div>
        </div>

        <div>
          <input type="hidden" name="encodedImages" id="encodedImagesInput" />
        </div>
        <br>
        <button type="submit" class="save-booking" >Save</button>
          <button type="button" class="btn btn-primary mt-3" onclick="getUserLocation()">Enviar datos</button>
        <br>
      </form>
    </div>

    <script>
      const detailsButtons = document.querySelector(".save-booking");
      button.addEventListener("click", async () => {
        const objectId = button.getAttribute("data-id");
        const formData = await new FormData(document.querySelector("form"));
        console.log(objectId);
        console.log("formData");
      });

      function changeMapLocation(selectedRadioButton) {
        const location = selectedRadioButton.value;
        let newLatLng;

        switch (location) {
          case "location1":
            newLatLng = { lat: 28.0705332, lng: -15.4522202 };
            break;
          case "location2":
            newLatLng = { lat: 27.8502279, lng: -15.6108612 };
            break;
          case "location3":
            newLatLng = { lat: 28.8502279, lng: -15.6108612 };
            break;
          case "location4":
            newLatLng = { lat: 27.8502279, lng: -15.6108612 };
            break;
          default:
            newLatLng = { lat: 29.0705332, lng: -15.4522202 }; // Default location
            break;
        }

        centerMap(newLatLng);
      }
    </script>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMRqbRbXVlqA3jKqpI7oefyJnirxvOwB0"
    ></script>
    <script>
      var vMarker;
      var map;
      map = new google.maps.Map(document.getElementById("map_canvas"), {
        zoom: 14,
        center: new google.maps.LatLng(28.0705332, -15.4522202),
        mapTypeId: google.maps.MapTypeId.ROADMAP,
      });
      vMarker = new google.maps.Marker({
        position: new google.maps.LatLng(27.8502279, -15.6108612),
        draggable: true,
      });
      document.querySelector("#txtDireccion").value = "";
      google.maps.event.addListener(vMarker, "dragend", function (evt) {
        $("#latitude").val(evt.latLng.lat().toFixed(6));
        $("#longitude").val(evt.latLng.lng().toFixed(6));

        map.panTo(evt.latLng);

        getAddress(evt.latLng.lat(), evt.latLng.lng(), function (address) {
          document.querySelector("#txtDireccion").value = address;
        });
      });
      map.setCenter(vMarker.position);
      vMarker.setMap(map);
      $("#txtDireccion, #txtDireccion, #txtDireccion").change(function () {
        movePin();
      });

      document.querySelector("#latitude").value = 28.0705332;
      document.querySelector("#longitude").value = -15.4522202;
      function movePin() {
        var geocoder = new google.maps.Geocoder();
        var textSelectM = $("#txtDireccion").text();
        var textSelectE = $("#txtDireccion").val();
        var inputAddress =
          $("#txtDireccion").val() + " " + textSelectM + " " + textSelectE;
        geocoder.geocode(
          {
            address: inputAddress,
          },
          function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              vMarker.setPosition(
                new google.maps.LatLng(
                  results[0].geometry.location.lat(),
                  results[0].geometry.location.lng()
                )
              );
              map.panTo(
                new google.maps.LatLng(
                  results[0].geometry.location.lat(),
                  results[0].geometry.location.lng()
                )
              );
              $("#latitude").val(results[0].geometry.location.lat());
              $("#longitude").val(results[0].geometry.location.lng());
            }
          }
        );
      }
    </script>

    <script>
      function getUserLocation() {
        if ("geolocation" in navigator) {
          navigator.geolocation.getCurrentPosition(function (position) {
            const userLatLng = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
            };
            centerMap(userLatLng);
          });
        } else {
          console.log("Geolocation is not available in this browser.");
        }
      }
      function centerMap(location) {
        map.setCenter(location);
        vMarker.setPosition(location);
        getAddress(location.lat, location.lng, function (address) {
          document.querySelector("#txtDireccion").value = address;
        });
        $("#latitude").val(location.lat);
        $("#longitude").val(location.lng);
      }

      function getAddress(latitude, longitude, callback) {
        var geocoder = new google.maps.Geocoder();
        var latlng = { lat: latitude, lng: longitude };
        geocoder.geocode({ location: latlng }, function (results, status) {
          if (status === "OK") {
            if (results[0]) {
              callback(results[0].formatted_address);
            } else {
              callback("No results found");
            }
          } else {
            callback("Geocoder failed due to: " + status);
          }
        });
      }
    </script>
    </section>
  </body>
</html>
