<!DOCTYPE html>
<html>
<head>
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .center-container {
      max-width: 1800px; /* Ajusta el ancho máximo según tu preferencia */
      margin: 0 auto;
    }

    /* Agrega estilo para la lista y el scrollbar */
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow-y: scroll;
      max-height: 80vh; /* Ajusta la altura máxima según tu preferencia */
      font-size: 2vh;

    }

    li {
      padding: 10px;
      border-bottom: 1px solid #ccc;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .btn{
      width: 38vh;
      height: 6vh;
      font-size: 2vh;
      
    }
    

    .btn-sm {
     
    }
    .card{
      margin-top: 10vh;
      text-align: center;
      align-items: center;
    }
    
    
    .card-body{ 
      margin: 3vh;
      
    }
    .logout {
      color: white;
      text-align: right;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 2vh;
    }

    h3{
      font-size: 4vh;
      color: #508bfc;
    }

    .container{
        max-width: 200vh; /* Cambiado a 100% */
        max-height: 100%; /* Cambiado a none */
      }

      .row{
        width: 100%;
      }
      .form-control{
        width: 38vh;
        height: 6vh;
        border-radius: 0.5rem;
        font-size: 2vh;
      }
      .center-container{
        margin-top: 2vh;
      }
  </style>
</head>
<body>

  
<!--
<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <h3 class="mb-5">AutosPlaza</h3>
                        <form action="/login" method="post">
                            <div class="form-outline mb-4">
                                <input type="text" id="typeUsernameX-2" class="form-control form-control-lg" name="username" placeholder="Nombre de usuario" />
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password" placeholder="Contraseña" />
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar Sesión</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
-->

<section class="vh-100" style="background-color: #508bfc;">
  
  <br>
  <div class="center-container">
    <div class="container py-5 h-10">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-11 col-lg-6 col-xl-4">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-1 text-center">
              <h3 class="mb-5">AutosPlaza</h3>
                        <form action="/login" method="post">
                            <div class="form-outline mb-4">
                                <input type="text" id="typeUsernameX-2" class="form-control form-control-lg" name="username" placeholder="Nombre de usuario" />
                            </div>
                            <div class="form-outline mb-4">
                                <input type="password" id="typePasswordX-2" class="form-control form-control-lg" name="password" placeholder="Contraseña" />
                            </div>
                            <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar Sesión</button>
                        </form>
              </ul>
            </div>
          </div> 
        </div>           
      </div>
    </div>   
  </div>
</section>
</body>
</html>
</body>
</html>
